body {
  background-color: rgb(28, 36, 93);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
#container {
  width: 90%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: 8px -8px 10px rgba(255, 255, 255, 0.2),
    8px 8px 10px rgba(255, 255, 255, 0.2),
    -8px 8px 10px rgba(255, 255, 255, 0.2),
    -8px -8px 10px rgba(255, 255, 255, 0.2);
}
#input-value {
  width: 320px;
  height: 60px;
  font-size: 20px;
  padding: 10px;
  border: none;
  margin: 28px;
  text-align: right;
  background-color: black;
  color: white;
  box-shadow: none;
  margin-bottom: 40px;
  border-radius: none;
}
form input {
  width: 50px;
  height: 50px;
  font-size: 20px;
  padding: 10px;
  border: none;
  margin: 10px;
  margin-left: 30px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  cursor: pointer;

  box-shadow: 4px -4px 5px rgba(255, 255, 255, 0.2),
    4px 4px 5px rgba(255, 255, 255, 0.2), -4px 4px 5px rgba(255, 255, 255, 0.2),
    -4px -4px 5px rgba(255, 255, 255, 0.2);
}

#equal {
  width: 146px;
  padding: 10px;
}
h1 {
  color: #ffffff;
  text-align: center;
}
@media (max-width: 768px) {
  #container {
    width: 90%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 8px -8px 10px rgba(255, 255, 255, 0.2),
      8px 8px 10px rgba(255, 255, 255, 0.2),
      -8px 8px 10px rgba(255, 255, 255, 0.2),
      -8px -8px 10px rgba(255, 255, 255, 0.2);
  }
  #input-value {
    width: 320px;
    height: 60px;
    font-size: 20px;
    padding: 10px;
    border: none;
    margin: 28px;
    text-align: right;
    background-color: black;
    color: white;
    box-shadow: none;
    margin-bottom: 40px;
    border-radius: none;
  }
  form input {
    width: 50px;
    height: 50px;
    font-size: 20px;
    padding: 10px;
    border: none;
    margin: 10px;
    margin-left: 30px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    cursor: pointer;

    box-shadow: 4px -4px 5px rgba(255, 255, 255, 0.2),
      4px 4px 5px rgba(255, 255, 255, 0.2),
      -4px 4px 5px rgba(255, 255, 255, 0.2),
      -4px -4px 5px rgba(255, 255, 255, 0.2);
  }

  #equal {
    width: 146px;
    padding: 10px;
  }
  h1 {
    color: #ffffff;
    text-align: center;
  }
}

